@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root {
    height: 100%;
}

:root {
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%; 
}


::-webkit-scrollbar {
    width: 0.5rem
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    height: 2rem;
    @apply bg-neutral-500
}

::-webkit-scrollbar-track {
    background-color: transparent;
    margin-top: 5px;
    height: 3rem;
}


@layer base {
    :root {
        --background: 230 230 230;
        --foreground: 20 20 20;
    }
    .dark { 
        --background: 20 20 20;
        --foreground: 255 255 255 0.87;
    }
}

@media (max-height : 950px) {
    .videoPlayer {
        max-width: 1250px;
    }
}
@media (max-height : 800px) {
    .videoPlayer {
        max-width: 840px;
    }
}
@media (max-height : 600px) {
    .videoPlayer {
        max-width: 770px;
    }
}
@media (max-height : 500px) {
    .videoPlayer {
        max-width: 600px;
    }
}
@media (max-height : 400px) {
    .videoPlayer {
        max-width: 400px;
    }
}
@media (max-height : 300px) {
    .videoPlayer {
        max-width: 150px;
    }
}
