@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%; 
}


@layer base {
    :root {
        --background: 230 230 230;
        --foreground: 20 20 20;
    }
    .dark { 
        --background: 20 20 20;
        --foreground: 255 255 255 0.87
    }
}


@media (max-height : 950px) {
    .videoPlayer {
        max-width: 1250px;
    }
}
@media (max-height : 800px) {
    .videoPlayer {
        max-width: 850px;
    }
}
@media (max-height : 600px) {
    .videoPlayer {
        max-width: 650px;
    }
}
@media (max-height : 400px) {
    .videoPlayer {
        max-width: 450px;
    }
}